.ItemBasket {
  
  display: flex;
  justify-content: flex-start;
  align-items:center;

}

.ItemBasket_selected {
  background: #75aaf1;
  color: #fff;
}

.ItemBasket-code {
  padding: 20px 10px 20px 20px;
}

.ItemBasket-title {
  width: 100%;
  padding: 20px 10px;
  font-size: 16px;
}
.ItemBasket-info{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 60px;
  margin-right: 22px;
  font-size: 18px; 
}
.ItemBasket-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
  gap: 10px;
}
